BOT_TOKEN=**********
GOOGLE_GENAI_API_KEY=**********
GOOGLE_GENAI_MODEL=YOUR_GOOGLE_MODEL

# if you are using GC service and tools
GCP_PROJECT=Google_Cloud_Project_ID
VERTEX_LOCATION=GCP_location
GCS_BUCKET=Your_Google_Cloud_Stroage_Bucket

MONGODB_URI=**********

YOUTUBE_API_KEY=**********